@font-face {
    font-family:'Luckiest Guy';
    src: url(../font/LuckiestGuy-Regular.ttf)  format("truetype");
        
}
body{
    background-color: #16181f;
}
.movwe-container{
    width: 90%;
    /* outline: 1px solid red; */
    margin: auto;
}

.intro-word-pc{
    display: none;
}
.intro{
    height: 100vh;
}
.intro-word{
    width: 80%;
    margin: auto;
    margin-top: 80px;
}
.movwe-logo{
    margin-left: -3px;
    margin-top: 16px;
}
.movwe-name{
    color: white;
    font-size: 24px;
    line-height: 40px;
    font-weight: bolder;
    margin-top: 16px;
}
.movwe-p{
    color: white;
    font-size: 16px;
    line-height: 25px;
    margin-top: 16px;
}

/* pain point */
.only-pc{
    display: none;
}

.title{
    font-size: 32px;
    color: white;
    font-weight: bolder;
    text-align: center;
}
.content{
    color: white;
    font-size: 18px;
    width: 92%;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
    line-height: 30px;
    margin-top: 24px;
}
.pain-pic{
    width: 98%;
    margin: auto;
    margin-top: 24px;
}
.pain-pic img{
    width: 100%;
}

/* solution */
.solution{
    margin-top: 120px;
}
.solution-pic{
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
}
.solution-pic-1, .solution-pic-2{
    width: 40%;
}
.solution-pic-1 img, .solution-pic-2 img{
    width: 100%;
}

/* actor */
.pic-pc{
    width: 140%;
}
.pic-pc img{
    width: 100%;
}
.actor-pic{
    width: 40%;
    transform: translate(-20px, 70px);
}
.actor-pic img{
    width: 100%;
}

.intro-pic{
    margin-top: 80px;
}


.end{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.end-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.end-pic{
    width: 18%;
    margin-right: 8px;
}
.end-pic img{
    width: 100%;
}
.end-word{
    color: white;
    font-size: 16px;
    margin-left: 25px;
    margin-top: 16px;
}


.Title__movwe__animation{
    display: flex;
    justify-content: center;
    align-items: center;
        /* color: #FFF; */
        color: rgba(0, 0, 0, 0.8);
        font-size: 50px;
        -webkit-text-stroke: 3px rgb(16, 255, 163);
    font-family: 'Luckiest Guy', cursive;
}
.movwe_1, .movwe_2, .movwe_3, .movwe_4, .movwe_5{
    font-size: 55px;
}
.movwe_1{
    transition: .5s;
   animation-name: home__movwe_1;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-delay: 0s;


}
.movwe_2{
    transition: .5s;
   animation-name: home__movwe_1;
   animation-duration: 3s;
   animation-iteration-count: infinite;
animation-delay: .3s;
}
.movwe_3{
    transition: .5s;
   animation-name: home__movwe_1;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-delay: .6s;

}
.movwe_4{
    transition: .5s;
   animation-name: home__movwe_1;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-delay: .9s;

}
.movwe_5{
    transition: .5s;
   animation-name: home__movwe_1;
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-delay: 1.2s;

}
@keyframes home__movwe_1 {
    /* shadow疊加  #10FFA2*/

    0%{
        color: #111;
        filter: blur(0px) brightness(66%);
        text-shadow: none;
        transform: scale(1);
    }

    50%
    {
        color: rgba(17, 17, 17, 0.874);
        filter: blur(1px) brightness(120%);

        transform: scale(1.1);

        text-shadow:
            0 0 10px rgba(16, 255, 163, 0.7),
            0 0 15px rgba(16, 255, 163, 0.7),
            0 0 20px rgba(16, 255, 163, 0.7)
            /* 0 0 80px rgba(16, 255, 163, 0.7); */
            /* 0 0 120px rgba(16, 255, 163, 0.7); */
    }
    
100%{
        color: #111;
        filter: blur(0px) brightness(66%);
        text-shadow: none;
        transform: scale(1);

    }




}    
.contact-me{
    margin-bottom: 80px;
}
.contact-tit{
    color: white;
    font-weight: bold;
    font-size: 35px;
}
.email-tit{
    color: white;
    font-size: 18px;
}
.email a{
    text-decoration: none;
    color: #10ffa3b3;
    font-size: 18px;
}
.email-3{
    color: #10ffa3b3;
    font-size: 18px;
}
.contact-detail{
    margin-top: 32px;
}
.email-con{
    margin-top: 8px;
    margin-bottom: 24px;
}
.github a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}




@media screen and (min-width: 900px) {
    .intro{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .intro-pic{
        width: 50%;
    }
    .actor-pic{
        width: 40%;
        transform: translate(-60px, 180px);
    }
    .intro-word{
        display: none;
    }
    .intro-word-pc{
        display: block;
    }
    .intro-word-pc{
        width: 40%;
        margin: auto;
    }
    .movwe-logo{
        width: 60%;
    }
    .movwe-logo img{
        width: 100%;
    }
    .movwe-name{
        font-size: 55px;
        line-height: 80px;
    }
    .movwe-p{
        font-size: 24px;
        line-height: 45px;
    }

    /* painpoint */
    .painpoint{
        margin-top: 120px;
        /* outline: 1px solid green; */
        margin: auto;
    }
    .only-pc{
        display: block;
    }
    .title{
        font-size: 55px;
    }
    .content{
        width: 50%;
        /* outline: 1px solid red; */
        font-size: 20px;
        line-height: 40px;
        margin-top: 40px;
    }
    .pain-pic{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 70px;
    }
    .pain-pic-1, .pain-pic-2{
        width: 49%;
    }

    /* solution */
    .solution{
        margin-top: 200px;
    }
    .solution-pic-pc{
        
        width: 55%;
        margin: auto;
        /* outline: 1px solid red; */
        margin-top: 80px;
    }
    .solution-pic-1-pc, .solution-pic-2-pc{
        width: 45%;
    }
    .solution-pic-1-pc img, .solution-pic-2-pc img{
        width: 100%;
    }
    .solution-pic-pc{
        justify-content: space-between;
    }
    
    /* episode */
    .episode{
        display: flex;
        align-items: center;
    }
    .episode-left{
        width: 50%;
    }
    .episode-right{
        width: 95%;
    }
    .ep-con{
        width: 90%;
    }
    /* actor */
    .actor-pics{
        /* margin: auto; */
        /* outline: 1px solid red; */
        /* width: 100%; */
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }
    .actor-pc{
        width: 50%;
        /* margin-left: 150px; */
    }
    .actor-pc_mb{
        width: 15%;
        
    }

    /* end */
    .end-pic{
        width: 50%;
    }
    .end-word{
        font-size: 40px;
        margin-left: 200px;
    }

    .movwe_1, .movwe_2, .movwe_3, .movwe_4, .movwe_5{
        font-size: 170px;
    }

    .movwe_1{
        transition: .5s;
       animation-name: home__movwe_1;
       animation-duration: 3s;
       animation-iteration-count: infinite;
       animation-delay: 0s;
    
    
    }
    .movwe_2{
        transition: .5s;
       animation-name: home__movwe_1;
       animation-duration: 3s;
       animation-iteration-count: infinite;
    animation-delay: .3s;
    }
    .movwe_3{
        transition: .5s;
       animation-name: home__movwe_1;
       animation-duration: 3s;
       animation-iteration-count: infinite;
       animation-delay: .6s;
    
    }
    .movwe_4{
        transition: .5s;
       animation-name: home__movwe_1;
       animation-duration: 3s;
       animation-iteration-count: infinite;
       animation-delay: .9s;
    
    }
    .movwe_5{
        transition: .5s;
       animation-name: home__movwe_1;
       animation-duration: 3s;
       animation-iteration-count: infinite;
       animation-delay: 1.2s;
    
    }
    @keyframes home__movwe_1 {
        /* shadow疊加  #10FFA2*/
    
        0%{
            color: #111;
            filter: blur(0px) brightness(66%);
            text-shadow: none;
            transform: scale(1);
        }
    
        50%
        {
            color: rgba(17, 17, 17, 0.874);
            filter: blur(1px) brightness(120%);
    
            transform: scale(1.1);
    
            text-shadow:
                0 0 10px rgba(16, 255, 163, 0.7),
                0 0 20px rgba(16, 255, 163, 0.7),
                0 0 30px rgba(16, 255, 163, 0.7)
                /* 0 0 80px rgba(16, 255, 163, 0.7); */
                /* 0 0 120px rgba(16, 255, 163, 0.7); */
        }
        
    100%{
            color: #111;
            filter: blur(0px) brightness(66%);
            text-shadow: none;
            transform: scale(1);
    
        }
    
    }    

    .end-pic{
        width: 25%;
        margin-right:24px;
    }


    .contact-tit{
        color: white;
        font-weight: bold;
        font-size: 40px;
    }
    .email-tit{
        color: white;
        font-size: 22px;
    }
    .email a, .email{
        text-decoration: none;
        color: #10ffa3b3;
        font-size: 22px;
        cursor: pointer;
    }
    .contact-detail{
        margin-top: 32px;
    }
    .email-con{
        margin-top: 8px;
        margin-bottom: 24px;
    }
    .github a{
        font-size: 40px;
        color: white;
        text-decoration: none;
        transition: .5s ;
    }
    .github a:hover{
        color: #10ffa3b3;
     
    }
    .contact-me{
        margin-bottom: 120px;
        width: 20%;
        /* outline: 1px solid red; */
    }

    .email{
        position: relative;
    }
    
    .email-1::after{
        content: '';
        width: 0%;
        height: .5px;
        background-color: #10ffa3b3;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .3s linear;
    }
    .email-1:hover::after{
        width:73%;
        height: 1%;
    }
    
    .email-2::after{
        content: '';
        width: 0%;
        height: .5px;
        background-color: #10ffa3b3;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .3s linear;
    }
    .email-2:hover::after{
        width:80%;
        height: 1%;
    }
    .email-3::after{
        content: '';
        width: 0%;
        height: .5px;
        background-color: #10ffa3b3;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .3s linear;
    }
    .email-3:hover::after{
        width:42%;
        height: 1%;
    }
    .email-4::after{
        content: '';
        width: 0%;
        height: .5px;
        background-color: #10ffa3b3;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all .3s linear;
    }
    .email-4:hover::after{
        width:68%;
        height: 1%;
    }
}