body{
    background-color: #111;
}

/* ------最上方大圖-------------- */

.intro-part, .about-me, .my_experience, .my_works, .contact{
    background-color: #212121;
    margin: auto;
    border-radius: 20px;
    padding-top: 15px;
    margin-top: 20px;
}

.menu{
    color: #ff651c;
    font-size: 28px;
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-bottom: 10px;
}
.big-pic{
    width: 366px;
    height: 600px;
    margin: auto;
    
}
.big-pic img{
    width: 100%;
    border-radius: 15px;
}
.name-arrow{
    margin-top: -35px;
}
.name, .arrow-down{
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
}
.bg-animation{
    -webkit-animation: bg-animation 1s ease-in-out infinite;
    animation: bg-animation 1s ease-in-out infinite;
}
@keyframes bg-animation {
0% {
    transform: translate(0,0)
}
50% {
    transform: translate(0,5px)
}
100% {
    transform: translate(0,0)
}
}

/* 打字效果 */
.static-text{
    color: #fff;
    font-size: 20px;
}
.dynamic-text{
    color: #ff651c;
    font-size: 20px;
}
.typing{
    display: flex;
    height: 50px;
    width: 300px;
    overflow: hidden;
    position: relative;
    transform: translateX(80px);
    margin-top: 16px;
  }
  
  .static-text{
    white-space: nowrap;
  }
  
  
  .dynamic-text{
    position: relative;
    height: 50px;
    margin-left: 10px;
    white-space: nowrap;
    font-weight: bold;
    color: #ff651c;
  }
  .dynamic-text:before{
      content: '';
      position: absolute;
      border-left: solid 1px  #EDDE5D;
      width: 100%;
      height: 36%;
      bottom: 50%;
      left:0;
      background: #212121;
      animation: typewriter 4s steps(23) infinite, blink 0.5s steps(23) infinite;
    }
  
  
  @keyframes typewriter{
    40%, 60%{
      left: 100%;
    }
    100%{
      left: 0;
    }
  }
  
  @keyframes blink{
    from{border-left: solid 1px #ff651c;}
    to{border-left: solid 1px  transparent;}
  }
  
  .dynamic-text-wrapper{
    position: relative;
    top: 0px;
    animation: moveup 12s steps(3) infinite;
  }
  
  @keyframes moveup{
    0%{top:0;}
    100%{top: -150px;}
  }

/* ------about me-------------- */
.about-me{
    padding-bottom: 24px;
}
.ab-title{
    color: #ff651c;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.line-h{
    display: flex;
    align-items: baseline;
    margin-left: 15px;
    margin-bottom: 8px;
}
.line-h i{
    color: #ff651c;
    transform: rotate(50deg);
    font-size: 14px;
}
.line-w{
    margin-left: 10px;
    color: rgb(163, 163, 163);
    font-size: 18px;
}
.line-w span{
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.line-w a{
    color: rgb(163, 163, 163);
    text-decoration: none;
}
.skill-ti{
    color: rgb(163, 163, 163);
    font-size: 14px; 
    display: flex;
    justify-content: space-between;
    width: 92%;
    margin: auto;
    margin-bottom: 5px;
}
.progress{
    width: 92%;
    margin: auto;
    height: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
}
.progress-bar{
    background-color: #ff651c;
    border-radius: 10px;
}
/* .progress-bar_1{
    animation: progressAnimation 6s;
}
@keyframes progressAnimation {
    0% {
      width: 5%;
      background-color: #fe834a;
    }
    100% {
      width: 100%;
      background-color: #ff651c
    }
  }
.progress-bar_2{
    animation: progressAnimation2 5s;
}
@keyframes progressAnimation2 {
    0% {
      width: 5%;
      background-color: #fe834a;
    }
    100% {
      width: 95%;
      background-color: #ff651c
    }
  } */

/* -------my-experience------ */
.exp-title, .myworks_tit, .con_tit{
    color: #ff651c;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.my_experience{
    height: 1680px;
}
.work{
    width: 92%;
    margin: auto;
    position: relative;
    margin-top: 16px;
}
.work-tit{
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.work-dot{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    border: 2px solid #888;
    background-color: #fff;
}
.work-ver{
    width: 2px;
    height: 705px;
    background-color: rgb(163, 163, 163);
}
.edu-ver{
    width: 2px;
    height: 90px;
    background-color: rgb(163, 163, 163);
}
.edu-ver1{
    width: 2px;
    height: 120px;
    background-color: rgb(163, 163, 163);
}
.edu-ver2{
    width: 2px;
    height: 110px;
    background-color: rgb(163, 163, 163);
}
.work-king{
    height: 350px;
}
.work-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-8px, 7px);
}
.working-tit{
    display: flex;
    align-items: center;
}
.work-pic{
    width: 60px;
    height: 60px;
}
.work-pic img{
    width: 100%;
}

.work-com{
    color: #ff651c;
    font-size: 18px;
    font-weight: bold;
}
.work-pos{
    color: rgb(163, 163, 163);
    font-size: 18px;
    font-weight: bold;
}
.work-date{
    color: #111;
    background-color: rgb(224, 224, 224);
    width: 140px;
    text-align: center;
    border-radius: 10px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.work-des{
    margin-left: -35px;
}
.work-des ul{
    color: white;
    list-style: none;
}
.work-des span{
    font-weight: bolder;
    font-size: 16px;
}
.work-des li{
    margin-left: 15px;
    color:rgb(163, 163, 163);
}
.work-com-name{
    display: flex;
    margin-top: 8px;
}
.work-com1{
    margin-top: 0px;
    transform: translateY(-18px);
}
.nchu, .ncue{
    margin-top: 0px;
}


/* -------my-works------ */
.my_works{
    height: 1050px;
}
.movwe_intro{
    width: 90%;
    /* border: 1px solid red; */
    position: absolute;
    top: 3200px;
    left: 22px;
}
.movwe_tit{
    font-size: 14px;
    color: #fff;
}
.movwe_des, .movwe_deve, .movwe_year{
    font-size: 14px;
    margin-top: 16px;
    color: rgb(182, 182, 182);
}
.movwe_deve, .movwe_year, .show_more{
    margin-top: 10px;
}
.movwe_name{
    font-size: 20px;
    color: #fff;
    /* margin-top: 240px; */
    font-weight: bold;
}
.show_more a{
   color: #ff651c; 
   text-decoration: none;
   font-size: 14px;
   font-weight: bold;
   display: inline-block;
   vertical-align: middle;
   position: relative;
}
.show_more::after{
    content: '';
    width: 0%;
    height: 1px;
    background-color: #ff651c;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s linear;
}
.show_more:hover::after{
    width: 5.4%;
}

/* 倉鼠先生 */
.ham_intro{
    width: 90%;
    /* border: 1px solid red; */
    position: absolute;
    top: 3680px;
    left: 22px;
}
.ham_tit{
    font-size: 14px;
    color: #fff;
}
.ham_des, .ham_deve, .ham_year{
    font-size: 14px;
    margin-top: 16px;
    color: rgb(182, 182, 182);
}
.ham_deve, .ham_year, .ham_more{
    margin-top: 10px;
}
.ham_name{
    font-size: 20px;
    color: #fff;
    /* margin-top: 240px; */
    font-weight: bold;
}

/* contact */
.contact{
    height: 460px;
    margin-bottom: 24px;
}
.con_email{
    width: 95%;
    height: 170px;
    background-color: #212121;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 25px rgb(0 0 0 / 85%);
    margin-top: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.email{
    width: 55px;
    height: 55px;
    border-radius: 55px;
    background-color: rgb(0, 0, 0);
    color: #ff651c;
    text-align: center;
    margin: auto;
    margin-bottom: 16px;
}
.email i{
    font-size: 24px;
    margin-top: 14px;
}
.email_me{
    color: rgb(152, 152, 152);
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}
.my_email{
    text-align: center;
    font-size: 14px;
}
.my_email a{
    color: #fff;
}